---
layout: default
title: YOLOnerds
---
		<div style="padding: 10px 30px 0 30px;">
			<p>We are <strong>YOLOnerds</strong>.</p>
			<p>Our goal is to document everything <em>"mildly difficult"</em> or interesting that I do on a daily basis. We currently focus on the web development industry, but you will find here posts on all kinds of topics.</p>
			<p>Here are some basic stats about us</p>
			<p>
				<strong style="color: red;">Anticipating:</strong> Oculus Rift deliveries<br>
				<strong style="color: red;">Current favorite games:</strong> Diablo 3, Batman Arkham Asylum<br>
				<strong style="color: red;">Language of the month:</strong> C#<br>
				<strong style="color: red;">Show of the month:</strong> Shameless UK version
			</p>
		</div>
		<div class="article-list-container">
			<hr style="margin-bottom: 20px;">
			<section>
				{% for post in paginator.posts %}
				<article>
					<a href="{{ post.url }}?page={{ paginator.page }}">
						<h2>{{ post.title }}</h2>
						<span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
					</a>
				</article>
				{% endfor %}
			</section>
		</div>

		<div class="pagination-container">
			<div class="pagination">
				{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" class="">
					<i class="fa fa-arrow-left fa-2x"></i>
				</a>
				{% else %}
				<i class="fa fa-arrow-left fa-2x"></i><!--<span class="previous">Previous</span>-->
				{% endif %}
				<span class="page-number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
				{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" class="">
					<i class="fa fa-arrow-right fa-2x"></i>>
				</a>
				{% else %}
				<i class="fa fa-arrow-right fa-2x"></i><!--<span class="next ">Next</span>-->
				{% endif %}
			</div>
		</div>



