---
layout: default
title: YOLOnerds
---

		<div class="article-list-container">
			<section>
				{% for post in paginator.posts %}
				<article>
					<a href="{{ post.url }}">
						<h2>{{ post.title }}</h2>
						<span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
					</a>
				</article>
				{% endfor %}
			</section>
		</div>

		<div class="pagination-container">
			<div class="pagination">
				{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" class="">
					<i class="fa fa-arrow-left fa-2x"></i>
				</a>
				{% else %}
				<i class="fa fa-arrow-left fa-2x"></i><!--<span class="previous">Previous</span>-->
				{% endif %}
				<span class="page-number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
				{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" class="">
					<i class="fa fa-arrow-right fa-2x"></i>>
				</a>
				{% else %}
				<i class="fa fa-arrow-right fa-2x"></i><!--<span class="next ">Next</span>-->
				{% endif %}
			</div>
		</div>



