---
layout: default
title: YOLOnerds
---
		<div style="padding: 10px 30px 0 30px;">
			<p>We are <strong>YOLOnerds</strong>.</p>
			<p>Our goal is to document everything <em>"mildly difficult"</em> or interesting that we do on a daily basis. We currently focus on the web development industry, but you will find here posts on all kinds of topics.</p>
			<p>Here are some basic stats about us</p>
			<p>
				<strong style="color: red;">Anticipating:</strong> Oculus Touch, WOW Legion Expansion<br>
				<strong style="color: red;">Current favorite games:</strong> Diablo 3, Batman Arkham Asylum, Elite Dangerous (Oculus Rift)<br>
				<strong style="color: red;">Language of the month:</strong> C++ and Java (the Android variety)<br>
				<strong style="color: red;">Show of the month:</strong> Gotham, Preacher, Penny Dreadful
			</p>
		</div>
		<div style="padding: 10px 30px 0 30px;">
			Visit us on social media and internet
			<span style="font-size: 110%;">
				<a href="https://twitter.com/yolonerds" data-toggle="tooltip" title="Visit us on twitter" style="color: red; margin-left: 5px;"><i class="fa fa-twitter fa-2"></i></a>
				<a href="https://www.youtube.com/channel/UCLlBF93AdcogI2cQNSFP5Sw" data-toggle="tooltip" title="Visit us on YouTube" style="color: red; margin-left: 5px;"><i class="fa fa-youtube-play fa-2"></i></a>
				<a href="https://www.twitch.tv/theyolonerds" data-toggle="tooltip" title="Visit us on Twitch" style="color: red; margin-left: 5px;"><i class="fa fa-twitch fa-2"></i></a>
				<a href="https://www.facebook.com/YOLOnerds-1038154806279058/" data-toggle="tooltip" title="Visit us on Facebook" style="color: red; margin-left: 5px;"><i class="fa fa-facebook fa-2"></i></a>
				<a href="https://github.com/lzychowski" data-toggle="tooltip" title="Visit us on GitHub" style="color: red; margin-left: 5px;"><i class="fa fa-github-alt fa-2"></i></a>
			</span>
		</div>
		<div class="article-list-container">
			<hr style="margin-bottom: 20px;">
			<section>
				{% for post in paginator.posts %}
				<article>
					<a href="{{ post.url }}">
						<h2>{{ post.title }}</h2>
						<span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
					</a>
				</article>
				{% endfor %}
			</section>
		</div>

		<div class="pagination-container">
			<div class="pagination">
				{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" class="">
					<i class="fa fa-arrow-left fa-2x"></i>
				</a>
				{% else %}
				<i class="fa fa-arrow-left fa-2x"></i><!--<span class="previous">Previous</span>-->
				{% endif %}
				<span class="page-number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
				{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" class="">
					<i class="fa fa-arrow-right fa-2x"></i>>
				</a>
				{% else %}
				<i class="fa fa-arrow-right fa-2x"></i><!--<span class="next ">Next</span>-->
				{% endif %}
			</div>
		</div>



