body {
  background: #ABE45F;
  background-image: url("../images/bg1.png");
  background-repeat: no-repeat;
  margin: 0;
  font: 100% Open Sans, sans-serif; }
  body .body-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; }

header {
  margin: 20px 0 30px 0;
  /* header logo and container */
  /* header text */
  /* TOOLTIPS */
  	/*a {
  		position: relative;
  		display: inline;
  	}
  
  	a:hover:after {
  		content: attr(title);
  		position: absolute;
  		z-index: 100;
  		left: -20px;
  		bottom: -70px;
  		width: 200px;
  	}*/ }
  @media screen and (min-width: 620px) {
    header {
      display: inline-block; } }
  @media screen and (min-width: 620px) {
    header div {
      float: left; } }
  header div:first-child {
    /* ANIMATION */
    		/*@keyframes logoFloat {
    			0%   { left: 0px; top: -6px; }
    			33%  { left: 0px; top: 0px;  }
    			66%  { left: 0px; top: 6px;  }
    			100% { left: 0px; top: 0px;  }
    		}
    
    		img {
    			animation-name: logoFloat;
    			-webkit-animation-duration: 3s;
    			animation-duration: 3s;
    			animation-iteration-count: infinite;
    			width: 184px;
    			height: 202px;
    			position: relative;
    		}*/ }
@keyframes roll {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(7deg); }
  50% {
    transform: rotate(0); }
  75% {
    transform: rotate(-7deg); }
  100% {
    transform: rotate(0deg); } }
    header div:first-child img {
      /*animation: roll 8s infinite;*/ }
    @media screen and (max-width: 620px) {
      header div:first-child {
        margin: 0 auto;
        width: 185px; } }
  @media screen and (max-width: 620px) {
    header div:last-child {
      margin: 0 auto;
      width: 208px; } }
  header h1, header h2 {
    color: #FFF;
    margin: 0; }
  @media screen and (min-width: 620px) {
    header h1 {
      font: 400% Titillium Web, sans-serif;
      font-weight: 900;
      line-height: 65px;
      margin-bottom: 15px; } }
  @media screen and (max-width: 620px) {
    header h1 {
      font: 250% Titillium Web, sans-serif;
      font-weight: 900;
      line-height: 37px;
      margin-bottom: 11px; } }
  @media screen and (min-width: 620px) {
    header h2 {
      font: 150% Titillium Web, sans-serif;
      font-weight: 400;
      margin-top: -25px; } }
  @media screen and (max-width: 620px) {
    header h2 {
      font: 100% Titillium Web, sans-serif;
      font-weight: 400;
      margin-top: -15px; } }
  header .name {
    background-color: rgba(31, 31, 31, 0.85);
    padding: 0 10px;
    border-radius: 4px; }
    @media screen and (min-width: 620px) {
      header .name {
        margin-top: 70px; } }
  header a {
    text-decoration: none; }

main h1 {
  margin: 20px 0 0 0; }
main h2 {
  margin: 20px 0 0 0; }
main a {
  text-decoration: none;
  color: #E00A0A; }
main a:hover {
  text-decoration: none;
  color: #333; }

.article-list-container {
  padding: 30px 30px; }
  .article-list-container section {
    font-family: 'Montserrat', sans-serif; }
    .article-list-container section article {
      margin-bottom: 20px; }
      .article-list-container section article a {
        display: inline-block;
        text-decoration: none;
        color: #000; }
      .article-list-container section article a:hover {
        color: #555; }
      .article-list-container section article span.date {
        font-size: 80%;
        border-bottom: 1px solid #E00A0A; }

.article-container section article span.date {
  font-size: 80%;
  border-bottom: 1px solid #E00A0A; }

.pagination-container {
  text-align: center;
  margin-bottom: 40px; }
  .pagination-container .pagination {
    display: inline-block; }
    .pagination-container .pagination a i {
      cursor: pointer;
      display: table-cell;
      vertical-align: middle;
      color: black; }
    .pagination-container .pagination i {
      cursor: default;
      display: table-cell;
      vertical-align: middle;
      color: #666; }
    .pagination-container .pagination .page-number {
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px;
      font-size: 90%; }

.disqus {
  margin: 40px 0; }

.float-left {
  float: left; }

.yolo {
  color: #E00A0A; }

/*# sourceMappingURL=styles.css.map */
