/*
	STRUCTURAL
*/
* {
  box-sizing: border-box;
}

body {
  background: #578449;
  background-image: url("../images/bg1.png");
  background-repeat: no-repeat;
  margin: 0;
  font: 90% Open Sans, sans-serif;
}
body .body-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  margin: 20px 0 30px 0;
  /* header logo and container */
  /* header text */
  /* TOOLTIPS */
  	/*a {
  		position: relative;
  		display: inline;
  	}
  
  	a:hover:after {
  		content: attr(title);
  		position: absolute;
  		z-index: 100;
  		left: -20px;
  		bottom: -70px;
  		width: 200px;
  	}*/
}
@media screen and (min-width: 620px) {
  header {
    display: inline-block;
  }
}
@media screen and (min-width: 620px) {
  header div {
    float: left;
  }
}
header div:first-child {
  /* ANIMATION */
}
@media screen and (max-width: 620px) {
  header div:first-child {
    margin: 0 auto;
    width: 185px;
  }
}
@media screen and (max-width: 620px) {
  header div:last-child {
    margin: 0 auto;
    width: 208px;
  }
}
header h1, header h2 {
  color: #FFF;
  margin: 0;
}
@media screen and (min-width: 620px) {
  header h1 {
    font: 400% Titillium Web, sans-serif;
    font-weight: 900;
    line-height: 65px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 620px) {
  header h1 {
    font: 250% Titillium Web, sans-serif;
    font-weight: 900;
    line-height: 37px;
    margin-bottom: 11px;
  }
}
@media screen and (min-width: 620px) {
  header h2 {
    font: 150% Titillium Web, sans-serif;
    font-weight: 400;
    margin-top: -25px;
  }
}
@media screen and (max-width: 620px) {
  header h2 {
    font: 100% Titillium Web, sans-serif;
    font-weight: 400;
    margin-top: -15px;
  }
}
header .name {
  background-color: rgba(31, 31, 31, 0.85);
  padding: 0 10px;
  border-radius: 4px;
}
@media screen and (min-width: 620px) {
  header .name {
    margin-top: 70px;
  }
}
header a {
  text-decoration: none;
}

main {
  padding: 10px;
  background-color: rgba(31, 31, 31, 0.85);
  color: #fff;
  border-radius: 4px;
}
main code {
  color: black;
}
main h1 {
  margin: 20px 0 0 0;
}
main h2 {
  margin: 20px 0 0 0;
}
main a {
  color: #aaa;
}
main a:hover {
  color: #888;
}

.article-list-container {
  padding: 30px 30px;
}
.article-list-container section {
  font-family: 'Montserrat', sans-serif;
}
.article-list-container section article {
  margin-bottom: 20px;
}
.article-list-container section article a {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
}
.article-list-container section article a:hover {
  color: #CCC;
}
.article-list-container section article span.date {
  font-size: 80%;
  border-bottom: 1px solid #E00A0A;
}

.article-container.about p {
  padding-left: 10px;
}

.article-container {
  padding: 0 30px 0 30px;
}
.article-container i {
  color: red;
}
.article-container img {
  max-width: 100%;
  height: auto;
}
.article-container .highlighter-rouge {
  color: #fff;
  background-color: #0048c5;
  padding: 1px 5px;
  border-radius: 5px;
}
.article-container section article span.date {
  font-size: 80%;
  border-bottom: 1px solid #E00A0A;
}

.pagination-container {
  text-align: center;
  margin-bottom: 40px;
}
.pagination-container .pagination {
  display: inline-block;
}
.pagination-container .pagination a i {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  color: black;
}
.pagination-container .pagination i {
  cursor: default;
  display: table-cell;
  vertical-align: middle;
  color: #666;
}
.pagination-container .pagination .page-number {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 90%;
}

.disqus {
  margin: 40px 0;
}

.yolo {
  color: #E00A0A;
}

.copyright {
  font: 75% Open Sans, sans-serif;
  margin: 10px 0 10px 0;
}

/*
	LOOK AND FEEL
*/
.red {
  color: red;
}

.font-110 {
  font-size: 110%;
}

/*# sourceMappingURL=styles.css.map */
