$class-slug-padding: padding !default;
$class-slug-margin: margin !default;
$direction-l: l !default;
$direction-r: r !default;
$direction-t: t !default;
$direction-b: b !default;
$l: left !default;
$r: right !default;
$t: top !default;
$b: bottom !default;

$class-slugs: padding $l, padding $r, padding $t, padding $b, margin $l, margin $r, margin $t, margin $b;

@function add-unit-to-value($value, $unit){
	@return if($value != 0, $value + "px", $value);
}

@function increment-by-5($i){
	@return unquote(add-unit-to-value(0 + ($i * 5), "px"));
}

/*
	POSITIONAL
*/

.float-l {
	float: left;
}

.float-r {
	float: right;
}

/*
	LAYOUT
*/

@each $slug in $class-slugs {
	$key: nth($slug, 1);
	$value: nth($slug, 2);

	/* #{$key} #{$value} */

	@for $i from 0 through 10 {
		.#{$key}-#{$i * 5}-#{str-slice($value, 0, 1)} {
			#{$key}-#{$value}: increment-by-5($i);
		}
	}
}


/*
	LOOK AND FEEL
*/

.red {
	color: red;
}




