$font-page-title: Titillium Web, sans-serif;
$font-article-title: Open Sans, sans-serif;
$color-page-title: #000;
$color-logo: #E00A0A;

$break-medium: 433px;
$break-medium-large-text: 575px;

// BODY #695E5A
// YOLO #EC5422
// NERDS WHITE
// EVERYTHING WHITE
// ARTICLE SECTION #C3E1FA
// ARTICLE LINK BLACK

body {
	background: #B8B8B8;
	background-image: url("../images/bg.png");
	background-repeat:no-repeat;
	margin: 0;
	font: 100% $font-article-title;

	.body-container {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
	}
}

header {

	margin: 20px 0 30px 0;

	@media screen and (min-width: $break-medium){
		display: inline-block;
	}

	div {
		@media screen and (min-width: $break-medium){
			float: left;
		}
	}

	div:first-child{
		@media screen and (max-width: $break-medium){
			margin: 0 auto;
			width: 185px;
		}
	}

	div:last-child{
		@media screen and (max-width: $break-medium){
			margin: 0 auto;
			width: 208px;
		}
	}

	h1, h2 {
		color: $color-page-title;
		margin: 0;
	}

	h1 {

		@media screen and (min-width: $break-medium-large-text){
			font: 400% $font-page-title;
			font-weight: 900;
		}
		@media screen and (max-width: $break-medium-large-text){
			font: 250% $font-page-title;
			font-weight: 900;
		}

	}

	h2 {
		@media screen and (min-width: $break-medium-large-text){
			font: 150% $font-page-title;
			font-weight: 400;
			margin-top: -25px;
		}
		@media screen and (max-width: $break-medium-large-text){
			font: 100% $font-page-title;
			font-weight: 900;
			margin-top: -15px;
		}
	}

	.name {
	  @media screen and (min-width: $break-medium){
		margin-top: 70px;
	  }
	}
}

main {

	h1 {
		margin: 20px 0 0 0;
	}

	h2 {
		margin: 20px 0 0 0;
	}
}

.article-list-container {
	padding: 30px 30px;

	section {

		font-family: 'Montserrat', sans-serif;

		article {

			margin-bottom: 20px;

			a {
				text-decoration: none;
				color: #000;
			}

			a:hover {
				color: #555;
			}

			span.date {
				font-size: 80%;
				border-bottom: 1px solid $color-logo;
			}
		}
	}
}

.article-container {

	section {

		article {

			span.date {
				font-size: 80%;
				border-bottom: 1px solid $color-logo;
			}
		}
	}
}

.pagination-container {

	text-align: center;
	margin-bottom: 40px;

	.pagination {
		display: inline-block;

		a {
			i {
				cursor: pointer;
				display: table-cell;
				vertical-align: middle;
				color: black;
			}
		}

		i {
			cursor: default;
			display: table-cell;
			vertical-align: middle;
			color: #666;
		}

		.page-number {
			display: table-cell;
			vertical-align: middle;
			padding: 0 10px;
			font-size: 90%;
		}
	}
}

.disqus {
	margin: 40px 0;
}

.float-left {
	float: left;
}

.yolo {
	color: $color-logo;
}

